@if (src(); as imageUrl) {
  <img
    [attr.aria-hidden]="decorative() || null"
    [alt]="accessibleName() ?? ''"
    [class.notch-tr]="notched()"
    [height]="40"
    [ngSrc]="imageUrl"
    [width]="40"
    class="media-thumbnail media-thumbnail--image"
  />
} @else {
  <span
    [attr.aria-hidden]="decorative() || null"
    [class.notch-tr]="notched()"
    class="media-thumbnail media-thumbnail--monogram"
  >
    {{ monogram() }}
  </span>
  @if (accessibleName(); as name) {
    <span class="sr-only">{{ name }}</span>
  }
}
