<div class="rocket-showcase">
  <div class="rocket-showcase__viewer">
    <svg
      #viewer
      [attr.aria-label]="
        'campaign.rocket.viewerAria' | translate: { built: builtCount(), total: total }
      "
      class="rocket-showcase__drawing"
      preserveAspectRatio="xMidYMid meet"
      role="img"
      viewBox="0 0 600 520"
    ></svg>
  </div>

  <ol [attr.aria-label]="'campaign.rocket.partsAria' | translate" class="rocket-showcase__parts">
    @for (part of parts(); track part.index) {
      <li>
        <!-- Only a built part can be shown on the blueprint. -->
        @if (part.state === 'built') {
          <button
            (click)="select(part)"
            [attr.aria-pressed]="part.index === shown()"
            class="rocket-showcase__part rocket-showcase__part--built focus-ring"
            type="button"
          >
            <ng-container *ngTemplateOutlet="partContent; context: { $implicit: part }" />
          </button>
        } @else {
          <div [class]="'rocket-showcase__part rocket-showcase__part--' + part.state">
            <ng-container *ngTemplateOutlet="partContent; context: { $implicit: part }" />
          </div>
        }
      </li>
    }
  </ol>
</div>

<ng-template #partContent let-part>
  <span class="rocket-showcase__part-number">{{ part.label }}</span>
  <span class="rocket-showcase__part-name">{{ part.name }}</span>
  <span class="rocket-showcase__part-status">
    @switch (part.state) {
      @case ('built') {
        <svg aria-hidden="true" class="size-3.5" lucideCheck></svg>
        {{ 'campaign.rocket.built' | translate: { week: part.week ?? 0 } }}
      }
      @case ('next') {
        <svg aria-hidden="true" class="size-3.5" lucideTarget></svg>
        {{ 'campaign.rocket.next' | translate }}
      }
      @default {
        <svg aria-hidden="true" class="size-3.5" lucideLock></svg>
        {{ 'campaign.rocket.locked' | translate: { index: part.index } }}
      }
    }
  </span>
</ng-template>
