<div class="tour-capacity">
  @for (tile of tiles(); track tile.kind) {
    <div [class]="'tour-capacity__tile--' + tile.kind" class="tour-capacity__tile">
      <p class="tour-capacity__name">{{ tile.nameKey | translate }}</p>
      <span [style.--pct]="tile.gauge.fraction" appInView class="tour-capacity__gauge">
        <svg class="tour-capacity__dial" viewBox="0 0 100 100">
          <circle class="tour-capacity__dial-track" cx="50" cy="50" r="43" />
          <circle class="tour-capacity__dial-arc fx-arc" cx="50" cy="50" r="43" />
        </svg>
        <span class="tour-capacity__gauge-center">
          <svg class="tour-capacity__gauge-icon size-5" [lucideIcon]="tile.gaugeIcon"></svg>
          <b [appCountUp]="tile.gauge.value" class="tour-capacity__gauge-value"></b>
        </span>
      </span>
      <span class="tour-capacity__stock label-caption"
        ><svg class="tour-capacity__icon size-3.5" [lucideIcon]="tile.resourceIcon"></svg
        ><b class="tour-capacity__stock-value">{{ format(tile.gauge.stock) }}</b>
        {{ tile.resourceKey | translate | lowercase }}</span
      >
      <div class="tour-capacity__foot">
        <span class="tour-capacity__lever label-caption">{{
          'overview.capacity.lever' | translate
        }}</span>
        <p class="tour-capacity__modes">
          @for (mode of tile.modes; track mode) {
            <span class="tour-capacity__mode label-caption">{{
              'common.gameMode.' + mode | translate
            }}</span>
          }
        </p>
        <p class="tour-capacity__rescue-cost label-caption">
          <svg class="tour-capacity__icon size-4" [lucideIcon]="tile.resourceIcon"></svg>
          <b class="tour-capacity__rescue-cost-value">{{ tile.rescueCost }}</b>
          {{ tile.rescueCostKey | translate }}
        </p>
      </div>
    </div>
  }
</div>
