<div class="flex flex-col gap-4">
  <h3 class="entity-stats__title label-caption">
    <span [appTooltip]="titleTooltip()" class="focus-ring" tabindex="0">{{ title() }}</span>
  </h3>

  @if (displayRows().length > 0) {
    <!-- From `sm` only: below it the rows stack into self-labelled cards. -->
    <div class="entity-stats__header label-caption gap-4 px-4">
      <span>{{ entityLabel() }}</span>
      <span class="text-right">{{ 'playerProfile.progression.table.matches' | translate }}</span>
      <span class="text-right">{{ 'playerProfile.progression.table.winRate' | translate }}</span>
      <span class="text-right">{{ 'playerProfile.progression.table.acs' | translate }}</span>
    </div>

    <ul class="flex flex-col gap-2">
      @for (row of displayRows(); track row.name) {
        <li class="entity-stats__row px-4 py-3">
          <div class="entity-stats__identity flex min-w-0 items-center gap-3">
            <app-media-thumbnail
              [accessibleName]="row.name"
              [monogram]="row.monogram"
              [src]="row.imageUrl"
            />
            <span class="entity-stats__name truncate">{{ row.name }}</span>
          </div>

          <div class="entity-stats__cell flex flex-col gap-1">
            <span class="entity-stats__cell-label label-caption sm:hidden">
              {{ 'playerProfile.progression.table.matches' | translate }}
            </span>
            <span class="entity-stats__value">{{ row.matchesPlayed }}</span>
          </div>

          <div class="entity-stats__cell flex flex-col gap-1">
            <span class="entity-stats__cell-label label-caption sm:hidden">
              {{ 'playerProfile.progression.table.winRate' | translate }}
            </span>
            <span [style.--tone]="row.winRateVisual.tone" class="entity-stats__rate">
              {{ row.winRateLabel }}
            </span>
            <app-progress-bar
              class="w-16"
              [percentage]="row.winRate"
              [tone]="row.winRateVisual.tone"
            />
          </div>

          <div class="entity-stats__cell flex flex-col gap-1">
            <span class="entity-stats__cell-label label-caption sm:hidden">
              {{ 'playerProfile.progression.table.acs' | translate }}
            </span>
            <span class="entity-stats__value">{{ row.acsLabel }}</span>
          </div>
        </li>
      }
    </ul>
  } @else {
    <p class="entity-stats__empty">
      {{ 'playerProfile.progression.table.empty' | translate }}
    </p>
  }
</div>
