@let mark = detail();

<span class="progress-tip__name">{{ mark.name }}</span>
<span [class]="'progress-tip__state--' + mark.state" class="progress-tip__state">
  @if (mark.state === 'done') {
    <svg class="progress-tip__state-icon" lucideCheck></svg>
  }
  {{ 'challenges.board.markDetail.' + mark.state | translate }}
</span>

<span class="progress-tip__figures">
  <b [class.progress-tip__value--idle]="mark.state === 'idle'" class="progress-tip__value">{{
    mark.value
  }}</b>
  @if (mark.target) {
    <span class="progress-tip__target">/ {{ mark.target }}</span>
  }
</span>
@if (mark.gap !== 'none') {
  <span [class]="'progress-tip__gap--' + mark.gap" class="progress-tip__gap">
    <b class="progress-tip__gap-value">{{ mark.gapLabel }}</b>
    {{ 'challenges.board.markDetail.' + mark.gap | translate: { count: mark.gapCount } }}
  </span>
}
